.vim/autoload/pathogen.vim
.tmux/resurrect/
.config/*
!.config/nvim
!.config/kitty
!.config/alacritty
!.config/coc/
.config/coc/**/.*
.config/coc/*
!.config/coc/ultisnips/
!.config/coc/extensions/
.config/coc/extensions/*
!.config/coc/extensions/package.json
tags
.bashrc.d/private-alias.bashrc
.vim/swap
.vim/backup
.vim/undodir
.vim/undo
