[submodule ".vim/pack/git-plugins/nerdcommenter"]
	path = .vim/pack/git-plugins/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule ".vim/pack/git-plugins/start/vim-better-whitespace"]
	path = .vim/pack/git-plugins/start/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace
[submodule ".vim/pack/git-plugins/start/nerdcommenter"]
	path = .vim/pack/git-plugins/start/nerdcommenter
	url = https://github.com/preservim/nerdcommenter
[submodule ".vim/pack/git-plugins/start/fzf.vim"]
	path = .vim/pack/git-plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule ".vim/pack/git-plugins/start/fzf"]
	path = .vim/pack/git-plugins/start/fzf
	url = https://github.com/junegunn/fzf
[submodule ".vim/pack/git-plugins/start/vim-fugitive"]
	path = .vim/pack/git-plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".vim/pack/git-plugins/start/vim-eunuch"]
	path = .vim/pack/git-plugins/start/vim-eunuch
	url = https://github.com/tpope/vim-eunuch
[submodule ".vim/pack/git-plugins/start/tagbar"]
	path = .vim/pack/git-plugins/start/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule ".vim/pack/git-plugins/start/vim-rhubarb"]
	path = .vim/pack/git-plugins/start/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb
[submodule ".vim/pack/git-plugins/start/coc.nvim"]
	path = .vim/pack/git-plugins/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim
[submodule ".vim/pack/git-plugins/start/ultisnips"]
	path = .vim/pack/git-plugins/start/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule ".vim/pack/git-plugins/start/indentLine"]
	path = .vim/pack/git-plugins/start/indentLine
	url = https://github.com/Yggdroot/indentLine
[submodule ".vim/pack/git-plugins/start/fzf-preview"]
	path = .vim/pack/git-plugins/start/fzf-preview
	url = https://github.com/yuki-ycino/fzf-preview.vim
[submodule ".vim/pack/git-plugins/start/vim-multiple-cursors"]
	path = .vim/pack/git-plugins/start/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors
[submodule ".vim/pack/git-plugins/start/typescript-vim"]
	path = .vim/pack/git-plugins/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim
[submodule ".vim/pack/git-plugins/start/vim-markdown"]
	path = .vim/pack/git-plugins/start/vim-markdown
	url = https://github.com/plasticboy/vim-markdown
[submodule ".vim/pack/git-plugins/start/vim-yaml"]
	path = .vim/pack/git-plugins/start/vim-yaml
	url = https://github.com/stephpy/vim-yaml
[submodule ".vim/pack/git-plugins/start/vim-tsx"]
	path = .vim/pack/git-plugins/start/vim-tsx
	url = https://github.com/ianks/vim-tsx/
[submodule ".vim/pack/git-plugins/start/vim-jsx"]
	path = .vim/pack/git-plugins/start/vim-jsx
	url = https://github.com/mxw/vim-jsx
[submodule ".vim/pack/git-plugins/start/vim-javascript"]
	path = .vim/pack/git-plugins/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule ".vim/pack/git-plugins/start/vim-floaterm"]
	path = .vim/pack/git-plugins/start/vim-floaterm
	url = https://github.com/voldikss/vim-floaterm
[submodule ".vim/pack/git-plugins/start/vim-clojure-static"]
	path = .vim/pack/git-plugins/start/vim-clojure-static
	url = https://github.com/guns/vim-clojure-static
