tags

__pycache__

.config/*

!.config/nvim
!.config/nvim.old
.config/nvim.old/autoload/plug.vim
.config/nvim.old/plugged
.config/nvim.old/spell
.config/nvim.old/.netrwhist
.config/nvim.old/tmp
.config/nvim.old/backup
.config/nvim.old/undo
.config/nvim.old/undodir
.config/nvim.old/plugin

!.config/kitty
!.config/alacritty
!.config/coc/
!.config/ranger/
!.config/nvim
!.config/khard
!.config/khal
!.config/starship
!.config/gh/config.yml
!.config/gh-dash

.mutt/cache
.mutt/tmp

.bashrc.d/*private-*

.luarc.json
