snippet describe
describe('$1', () => {
	$0
});
endsnippet

snippet testfile
import {
	expect,
} from 'chai';

describe('$1', () => {
	$0
});
endsnippet

snippet it
it('should $1', () => {
	$0
});
endsnippet

snippet import
import $0 from '$1';
endsnippet

snippet importobject
import {
	$0,
} from 'truc';
endsnippet
